@if(!memberService.editMode())
{
@if (memberService.photos().length > 0) {
<div class="grid grid-cols-4 auto-rows-min gap-3 p-5 h-[65vh] overflow-auto">
    @for (photo of memberService.photos(); track photo.id) {

    <div class="relative photo-card group">
        <img src="{{photo.url}}" alt="Photo of member" class="w-full rounded-lg">
        @if (isCurrentUserProfile) {
        <div class="photo-actions">
            <app-star-button [disabled]="photo.url === memberService.member()?.imageUrl"
                [selected]="photo.url === memberService.member()?.imageUrl" (clickEvent)="setMainPhoto(photo)">
            </app-star-button>

            @if (photo.url !== memberService.member()?.imageUrl) {
            <app-delete-button (clickEvent)="deletePhoto(photo)">
            </app-delete-button>
            }
        </div>
        }
    </div>

    }
</div>
}
@else {
<p class="text-center text-gray-500">No Photos found :( </p>
}
}
@else {
<div class="p-5">
    <h2 class="text-xl font-bold mb-4 text-white">Edit Member Photos</h2>
    <app-image-upload></app-image-upload>
</div>
}