<div class="form-control w-full mb-4">
  <label class="label pb-2">
    <span class="label-text text-sm font-medium tracking-wide text-white/80">{{ label() }}</span>
  </label>

  <input
    [formControl]="control"
    [max]="maxDate()"
    [type]="type()"
    [placeholder]="'Enter ' + label()"
    class="input w-full bg-white/5 border border-white/10 text-white placeholder-white/30 transition-all duration-300 focus:outline-none focus:border-cyan-500 focus:ring-1 focus:ring-cyan-500 hover:bg-white/10 rounded-xl"
    [class.border-error]="control.invalid && control.touched"
    [class.border-success]="control.valid && control.touched"
  />

  @if (control.touched && control.invalid) {
    <label class="label py-1 px-1">
      @if (control.hasError('required')) {
        <span class="label-text-alt text-error/90 font-medium tracking-wide"
          >{{ label() }} is required</span
        >
      }
      @if (control.hasError('email')) {
        <span class="label-text-alt text-error/90 font-medium tracking-wide"
          >Invalid email address</span
        >
      }
      @if (control.hasError('minlength')) {
        <span class="label-text-alt text-error/90 font-medium tracking-wide"
          >Must be at least {{ control.errors?.['minlength'].requiredLength }} characters</span
        >
      }
      @if (control.hasError('maxlength')) {
        <span class="label-text-alt text-error/90 font-medium tracking-wide"
          >Must be at most {{ control.errors?.['maxlength'].requiredLength }} characters</span
        >
      }
      @if (control.hasError('passwordMismatch')) {
        <span class="label-text-alt text-error/90 font-medium tracking-wide"
          >Passwords do not match</span
        >
      }
    </label>
  }
</div>
